{{define "content"}}
        <div class="wel-panel">
            <p style="margin-top:0px;text-align: center; font-size: 7vh;"><strong>Willkommen bei <span style="color:rgb(39,174,96)">Brain</span><span style="color:rgb(46,204,113)">Train</span></strong></p>
            <p style="margin:0px;text-align: center; font-size: 5vh;">Hier haben sich <strong>{{.Users}} Nutzer</strong> angemeldet und<br> zusammen <strong>{{.Karten}} Lernkarten </strong>in <strong>{{.Kasten}} Karteien</strong><br> erstellt</p>
        </div>
    {{end}}