body{
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr 33fr;
    margin-top:0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right:0px;
    background: lightgray;
}
.tabzeile{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    background:rgb(46, 204, 113);
    height:50px;
}
.logo{
    height:50px;
}

.sidebar{
    background: rgb(44, 64, 80);
}
.inputField{
    align-self: center;
    background:rgb(46, 204, 113);
    border-width: 2px;
    border-style:solid;
    border-color: #fff9f1;
    color:rgb(252,254,253);
    height:3vh;
    width: 7vw;
    font-size:120%;
}
.inputFieldtwo{
    align-self: center;
    justify-self:center;
    background:rgb(46, 204, 113);
    height:3vh;
    width: 7vw;
    border-width: 2px;
    border-style: solid;
    border-color: #fff9f1;
    color:rgb(252,254,253);
    font-size: 120%;
}
.login{
    background:rgb(254, 211, 48);
    align-self: center;
    justify-self:center;
    height: 30px;
    width:7vw;
    font-size: 120%;
    color:rgb(252,254,253);
}
.register{
    align-self: center;
    justify-self: center;
    text-decoration: none;
    color:rgb(252,254,253);
}